.wrapper .list {
  height: 100vh;
}

 .wrapper .list .header {
  padding: 20px;
  background-color: royalblue;
  color: white;
  text-align: center;
  border-bottom: 10px solid yellow;
} 

.list .sort-form {
  margin-left: 300px;
  margin-top: 20px;
  padding-top: 50px;
  padding-right: 120px;
  width: 1200px;
}

label {
  width: 100px;
  margin-left: 20px;
}

#sort {
  margin-top: 30px;
  height: 30px;
}

.btn-secondary {
  float: right;
  margin-right: 10px;
  width:150px;
  font-weight: bold;
  margin-top: 30px;
  background-color: royalblue;
  color: white;
}

.btn-secondary:hover {
  background-color: blue;
  color: black;
}


@media only screen and (max-width:600px){
  .list .sort-form {
    margin-left: 100px;
  }

  .search-result {
    margin-left: 200px;

  }

}