.wrapper .regulations {
  width: 100%;
}

.wrapper .regulations .header {
  padding: 20px;
  background-color: royalblue;
  color: white;
  text-align: center;
  border-bottom: 10px solid yellow;
}

@media only screen and (max-width:600px){
  .wrapper .regulations .header {
    margin-left: 100px;
  }
} 