.wrapper .regulation {
  height: 100vh;

}
.wrapper .regulation .header {
  padding: 20px;
  background-color: royalblue;
  color: white;
  text-align: center;
  border-bottom: 10px solid yellow;
}

 .regulation .regulation-page {
  margin-left: 200px;
  margin-top: 20px;
  width: 1100px; 
} 

.container-fluid {
  display: flex;
  
}

.container-fluid img {
  width: 500px;
  height: 800px;
  margin-top: 100px;
  margin-left: 25px;
  padding-right: 50px;
  border-style: double;
  border-color: royalblue;
}

.col-12 {
  font-size: 25px;
  padding: 50px;
}

  

